{% load staticfiles %}
<!--Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
<!--from codecademy-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--from codecademy-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<!--bootstrap-->
<link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" />
<!--style.css-->
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />


<body>

<!--menu is from codecademy-->
<div class="menu">
      
      <!-- Menu icon -->
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

      <!-- Menu -->
      <ul>
        <li><a href={% url 'polls:index' %}>Home</a></li>
        <li><a href={% url 'polls:about' %}>About</a></li>
        <li><a href={% url 'polls:blog' %}>Blog</a></li>
        <li><a href={% url 'polls:questions' %}>Questions</a></li>
        <li><a href={% url 'polls:contacts' %}>Contact</a></li>
        <li><a href={% url 'scraper:index' %}>News</a></li>
      </ul>
</div>




<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
    <!--icon-menu from codecademy-->
    <div class="icon-menu">
          <i class="fa fa-bars"></i>
          Zenon Q. Anderson
      </div>
      <!--<a class="navbar-brand" href={% url 'polls:index' %}>Zenon Q Anderson</a>-->
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href=''>gMaps</a></li>
        <!--<li><a href="{% url 'polls:index' %}">{{ site.site_text}}</a></li>-->
        <li><a href="{% url 'scraper:index' %}">Web Scraper</a></li> 
        <li><a href="{% url 'polls:questions' %}">Polls</a></li> 
      </ul>
    </div>
  </div>
</nav>

  <!--Personal Jumbotron-->
<div class="jumbotron jumbotron-sites">
  <div id="sitesJbox">
  


<h1>{{ site.site_text }}</h1>
<!--<h2>{{ sitelink.link_text}}</h2>-->
{% if error_message %}<p><strong>{{ error_message }}</strong>
</p>{% endif %}

<!--Map-->
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 88%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
  <!--Form-->
  <div class = "whitecontainer">
  <form action="" method="post"> {% csrf_token %}
  
  {{ form.as_p}}
  <!--
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"/>
    </div>
    <div>
        <label for="latitude">Latitude:</label>
        <input type="number" id="latitude" name="lati"/>
    </div>
    <div>
        <label for="longitude">Longitude:</label>
        <input type="number" id="longitude" name="longi">
    </div>
    -->
    
    <div class="button">
        <button type="submit" class="btn btn-primary">Submit Coordinates</button>
    </div>
    <div class="button">
        <button type="reset" class="btn btn-danger">Reset</button>
    </div>
    

  </form>


  <script>

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: {{latest_coord_list.first.latitude}}, lng: {{latest_coord_list.first.longitude}}},
    zoom: 8
  });
}

    </script>
    
  </body>


    



<!-- From Codecademy-->
  <script src="{% static '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %}"></script>

  <!-- Bootstrap-->
  <script src="{% static '//http://code.jquery.com/jquery-1.11.3.min.js' %}"></script>
  <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>

  <!--app.js-->
  <script src="{% static 'polls/js/app.js'  %}"></script>

  <!--gMaps api-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8QJeHVPbnGoRgJm92CjwhsYsvfA9bNtk&callback=initMap"
        async defer></script>

  <a href="{% url 'scraper:index' %}" class="btn btn-primary" role ="button">Back</a>


</html>