{% load staticfiles %}
<!--Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
<!--from codecademy-->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!--from codecademy-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
<!--bootstrap-->
<link rel="stylesheet" href="{% static 'polls/css/bootstrap.min.css' %}" />
<!--style.css-->
<link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}" />
<body>
<!--menu is from codecademy-->
<div class="menu">
  <!-- Menu icon -->
  <div class="icon-close">
    <img src="https://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
  </div>

  <!-- Menu -->
  <ul>
    <li><a href="https://zsite.herokuapp.com/scraper/aboutme/">About Me</a></li>
    <li><a href="https://hlcschedule.herokuapp.com/scheduler">Scheduler</a></li>
    <li><a href="https://questblog.herokuapp.com/index">Microblog</a></li>
    <li ><a href="{% url 'scraper:index' %}">News Scraper</a></li>
    <li><a href="{% url 'polls:index' %}">Questionaire</a></li>
  </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="icon-menu">
          <i class="fa fa-bars"></i>
          Questionaire
      </div>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li {% if request.path == '/polls/' %} class="active" {% endif %} ><a href="/polls/">Home</a></li>
        <li {% if request.path == '/polls/1/' %} class="active" {% endif %} ><a href="/polls/1/">Q 1</a></li>
        <li {% if request.path == '/polls/2/' %} class="active" {% endif %} ><a href="/polls/2/">Q 2</a></li>
        <li {% if request.path == '/polls/5/' %} class="active" {% endif %} ><a href="/polls/5/">Q 3</a></li>
        <!-- <li {% if request.path == '/polls/' %} class="active" {% endif %} ><a href="{% url 'polls:questions' %}">Polls</a></li>  -->
        {% if request.path == '/polls/[0-9]' %}
        <li class="active"><a href="">Test Detail</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right" > 
          <li><a href="{% url 'polls:index' %}">Zenon Q. Anderson</a></li>     
      </ul>
    </div>
  </div>
</nav>

<body>
<div class="container">
<div class="jumbotron" id="mainbody">
{% block content %}{% endblock %}

</div>
</div>
</body>

<!-- From Codecademy-->
<script src="{% static '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %}"></script>

<!-- Bootstrap-->
<script src="{% static 'polls/js/bootstrap.min.js' %}"></script>

<!--app.js-->
<script src="{% static 'polls/js/app.js'  %}"></script>

